 /* .top-bar */
 .top-bar {
     position: relative;
     width: 100%;
     /* height: 70px; */
     height: 7vh;
     background-color: #005BA5;
 }

 .top-bar-content {
     position: absolute;
     width: 80%;
     height: 100%;
     margin: auto;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;

 }

 .top-bar-content .top-bar-content-list {
     width: 100%;
     height: 100%;
     line-height: 70px;
     display: flex;
     justify-content: space-around;
     color: #fff; 
     font-size: 20px;
 }

 .top-bar-content-list .top-bar-content-item {
     font-weight: bold;
     cursor: pointer;
 }

 .top-bar-content-list .top-bar-content-item:hover {
     /* background-color: orange; */
 }